@{
    Layout = null;
}

<div class="header-content menu-mobile"><div class="container">
    <div class="row"><div class="nav-toggle-mobile"><span data-action="toggle-nav" class="action nav-toggle">
        <span>Toggle Nav</span><i class="fa fa-bars"></i></span></div><div class="content-logo"><div class="header-logo">
            <a class="logo" href="https://m2.alothemes.com/electro2/default/" title="alothemes"> 
                <img src="https://m2.alothemes.com/electro2/media/logo/stores/1/01-logo-old.png" title="alothemes" alt="alothemes" width="170" height="43"></a></div>
                </div><div class="content-seach"><div class="search-area header-search">
                    <div class="icon-search icon toggle-tab"> <i class="pe-7s-search">
                        </i></div><div class="toggle-content"> <div class="block-search"> 
                            <div class="block-content"> <form class="form minisearch form-search" id="search_mini_form" action="https://m2.alothemes.com/electro2/default/catalogsearch/result/" method="get"> 
                                <div class="block-title"><strong>Search</strong></div> <div class="field search">
                                    <div class="control catalogsearch"> <input id="search" type="text" name="q" value="" placeholder="Search here..." class="input-text" maxlength="128" role="combobox" aria-haspopup="false" aria-autocomplete="both" autocomplete="off"> 
                                        <div id="search_autocomplete" class="search-autocomplete"></div> 
                                        <div class="nested"> <a class="action advanced" href="https://m2.alothemes.com/electro2/default/catalogsearch/advanced/" data-action="advanced-search"> Advanced Search </a>
                                            </div><div data-bind="scope: 'searchsuiteautocomplete_form'"> <!-- ko template: getTemplate() --><!-- /ko --></div> <div class="catalogsearch-box"> <span id="select-box-category">All Categories</span> <div id="categories-box" style="display:none;"> <input style="display:none;" type="text" value="" id="qsearch"> <ul class="cat-list dd-container" id="cat"> <li data-q="0">All Categories</li><li data-q="3" class="item top">Laptop &amp; computers</li><li data-q="4" class="item">**Computers &amp; Accessories</li><li data-q="57" class="item">***Laptops</li><li data-q="58" class="item">***Desktops &amp; Monitors</li><li data-q="59" class="item">***Pen Drives</li><li data-q="60" class="item">***Hard Drives</li><li data-q="61" class="item">***Memory Cards</li><li data-q="62" class="item">***Printers &amp; Ink</li><li data-q="63" class="item">***Networking</li><li data-q="64" class="item">***Internet Devices</li><li data-q="65" class="item">***Software</li><li data-q="13" class="item">**Cameras</li><li data-q="66" class="item">***Cameras &amp; Photography</li><li data-q="67" class="item">***Digital SLRs</li><li data-q="68" class="item">***Point &amp; Shoot Cameras</li><li data-q="69" class="item">***Lenses</li><li data-q="70" class="item">***Camera Accessories</li><li data-q="71" class="item">***Security &amp; Surveillance</li><li data-q="72" class="item">***Binoculars &amp; Telescopes</li><li data-q="73" class="item">***Camcorders</li><li data-q="14" class="item">**photography</li><li data-q="15" class="item">***Smartphones</li><li data-q="16" class="item">***Video games</li><li data-q="17" class="item">***tablets</li><li data-q="18" class="item">***consoles</li><li data-q="74" class="item">**Office &amp; Stationery</li><li data-q="75" class="item">***All Office &amp; Stationery</li><li data-q="76" class="item">***Pens &amp; Writing</li><li data-q="77" class="item">***Trending styles</li><li data-q="7" class="item top">Smartphones &amp; tablets</li><li data-q="35" class="item">**Video games</li><li data-q="36" class="item">***All Consoles</li><li data-q="37" class="item">***Games &amp; Accessories</li><li data-q="55" class="item">***PC Games</li><li data-q="56" class="item">***New Releases</li><li data-q="78" class="item">***Accessories</li><li data-q="34" class="item">**TV &amp; audio</li><li data-q="79" class="item">***Computers</li><li data-q="80" class="item">***Movies &amp; TV Shows</li><li data-q="81" class="item">***Blu-ray</li><li data-q="82" class="item">***All English</li><li data-q="83" class="item">***All Hindi</li><li data-q="32" class="item">**Smartphones</li><li data-q="33" class="item">***Video games</li><li data-q="54" class="item">***photography</li><li data-q="38" class="item">**Music</li><li data-q="84" class="item">***All Music</li><li data-q="85" class="item">***International Music</li><li data-q="86" class="item">***Film Songs</li><li data-q="6" class="item top">Cameras</li><li data-q="19" class="item">**Cameras</li><li data-q="27" class="item">***Smartphones</li><li data-q="28" class="item">***Video games</li><li data-q="29" class="item">***TV &amp; audio</li><li data-q="30" class="item">***Cameras</li><li data-q="31" class="item">***computers</li><li data-q="20" class="item">**photography</li><li data-q="190" class="item">***Camera Xbox</li><li data-q="191" class="item">***Flycam</li>
                                            <li data-q="192" class="item">***GoPro</li>
                                            <li data-q="193" class="item">***Xboxone</li><li data-q="21" class="item">**Gadgets</li>
                                            <li data-q="22" class="item">***consoles</li>
                                            <li data-q="23" class="item">***audio</li><li data-q="24" class="item">***Smartphones</li>
                                            <li data-q="25" class="item">***Video games</li>
                                            <li data-q="26" class="item">***TV &amp; audio</li>
                                            <li data-q="8" class="item top">Video games &amp; consoles</li>
                                            <li data-q="40" class="item">**Car &amp; Motorbike</li>
                                            <li data-q="44" class="item">***photography</li>
                                            <li data-q="45" class="item">***All Cars &amp; Bikes</li><li data-q="46" class="item">***Car &amp; Bike Care</li>
                                            <li data-q="42" class="item">***Lubricants</li>
                                            <li data-q="41" class="item">**consoles</li><li data-q="47" class="item">***photography</li>
                                            <li data-q="48" class="item">***Air Fresheners</li>
                                            <li data-q="49" class="item">***Car Parts</li>
                                            <li data-q="50" class="item">***Tyre Accessories</li>
                                            <li data-q="115" class="item">**Shop for Bike</li>
                                            <li data-q="116" class="item">***Helmets &amp; Gloves</li>
                                            <li data-q="117" class="item">***Bike Parts</li>
                                            <li data-q="9" class="item top">TV &amp; audio</li>
                                            <li data-q="91" class="item top">Motorbike</li>
                                            <li data-q="92" class="item">**Industrial Supplies</li><li data-q="93" class="item">***All Industrial Supplies</li>
                                            <li data-q="94" class="item">***Lab &amp; Scientific</li>
                                            <li data-q="95" class="item">***Janitorial</li><li data-q="96" class="item">***Sanitation Supplies</li>
                                            <li data-q="97" class="item">**Car &amp; Motorbike</li>
                                            <li data-q="98" class="item">***All Cars &amp; Bikes</li><li data-q="99" class="item">***Measure &amp; Inspect</li>
                                            <li data-q="100" class="item">***Car &amp; Bike Care</li>
                                            <li data-q="101" class="item">***Lubricants</li>
                                            <li data-q="102" class="item">**Shop for Bike</li><li data-q="103" class="item">***Helmets &amp; Gloves</li>
                                            <li data-q="104" class="item">***Bike Parts</li><li data-q="105" class="item">***Scarves</li>
                                            <li data-q="106" class="item">***Skirts</li><li data-q="107" class="item">**Shop for Car</li>
                                            <li data-q="108" class="item">***Air Fresheners</li>
                                            <li data-q="109" class="item">***Car Parts</li>
                                            <li data-q="110" class="item">***Tyre Accessories</li>
                                            
                                            <li data-q="111" class="item">**Football</li>
                                            <li data-q="112" class="item">***Coats &amp; Jackets</li><li data-q="113" class="item">***Blouses &amp; Shirts</li>
                                            <li data-q="114" class="item">***Tops &amp; Tees</li><li data-q="10" class="item top">Gadgets</li>
                                            <li data-q="11" class="item top">Cart electronics &amp; GPS</li><li data-q="12" class="item top">Accessories</li><li data-q="87" class="item top">Software</li><li data-q="88" class="item top">Printers &amp; Ink</li><li data-q="89" class="item top">Car Electronic</li><li data-q="90" class="item top">Office Supplies</li><li data-q="118" class="item">**Software</li> </ul> </div> </div> <script type="text/javascript">document.addEventListener("DOMContentLoaded", function () { var qsearch, select, ul, li, a, i; qsearch = document.getElementById("qsearch"); select = document.getElementById("select-box-category"); ul = document.getElementById("categories-box"); document.querySelector('body').addEventListener("click", function () { ul.style.display = 'none'; }); select.addEventListener('click', function (e) { e.stopPropagation(); if (ul.style.display === 'none') { ul.style.display = 'block'; } else { ul.style.display = 'none'; } }); li = ul.getElementsByTagName("li"); for (i = 0; i < li.length; i++) { a = li[i]; a.addEventListener("click", function () { qsearch.value = this.getAttribute("data-q"); select.innerHTML = this.innerHTML; }); } }); window.onload = function () { var form = document.getElementById("search_mini_form"); form.onsubmit = function () { var search = document.getElementById("search"); var qsearch = document.getElementById("qsearch"); var csearch = qsearch.value ? '&cat=' + qsearch.value : ''; window.location = form.action + '/?q=' + search.value + csearch; return false; }; };</script> </div> </div> <button type="submit" title="Search" class="action search button"> <span><span><i class="fa fa-search"></i></span></span> </button> </form> </div> </div></div></div></div><div class="righ-header-content"><ul class="top-link-product"><li><a title="Compare" href="https://m2.alothemes.com/electro2/default/catalog/product_compare/" target="_blank" class="btn-compare icon icon-compare compare"><i class="ec ec-compare"></i>Compare</a></li><li><a title="Wishlist" href="https://m2.alothemes.com/electro2/default/wishlist/" target="_blank" class="wishlist icon icon-favorites"><i class="ec ec-favorites"></i>Wishlist</a></li></ul><div data-block="minicart" class="minicart-wrapper"> <a class="action showcart" href="https://m2.alothemes.com/electro2/default/checkout/cart/" data-bind="scope: 'minicart_content'"> <span class="pe-7s-shopbag cart-icon"> <span class="counter qty empty" data-bind="css: { empty: !!getCartParam('summary_count') == false }, blockLoader: isLoading"> <span class="counter-number"><!-- ko text: getCartParam('summary_count') --><!-- /ko --></span> <span class="counter-label"> <!-- ko if: getCartParam('summary_count') --> <!-- ko text: getCartParam('summary_count') --><!-- /ko --> <!-- ko i18n: 'items' --><!-- /ko --> <!-- /ko --> </span> </span> </span> <span class="minicart-text"> <span class="text cart-title">Cart</span> <span data-bind="html: getCartParam('subtotal')"></span> </span> </a> <div class="block block-minicart empty" data-role="dropdownDialog"> <div id="minicart-content-wrapper" data-bind="scope: 'minicart_content'"> <!-- ko template: getTemplate() --><!-- /ko --> </div> <div id="cart-page"> <div id="block-cart-list" data-bind="scope:'minicart-addons'" class="block"> <!-- ko template: getTemplate() --><!-- /ko --> </div></div> </div> <script>window.checkout = { "shoppingCartUrl": "https:\/\/m2.alothemes.com\/electro2\/default\/checkout\/cart\/", "checkoutUrl": "https:\/\/m2.alothemes.com\/electro2\/default\/onestepcheckout\/", "updateItemQtyUrl": "https:\/\/m2.alothemes.com\/electro2\/default\/checkout\/sidebar\/updateItemQty\/", "removeItemUrl": "https:\/\/m2.alothemes.com\/electro2\/default\/checkout\/sidebar\/removeItem\/", "imageTemplate": "Magento_Catalog\/product\/image_with_borders", "baseUrl": "https:\/\/m2.alothemes.com\/electro2\/default\/", "minicartMaxItemsVisible": 5, "websiteId": "1", "maxItemsToDisplay": 10, "storeId": "1", "storeGroupId": "1", "customerLoginUrl": "https:\/\/m2.alothemes.com\/electro2\/default\/customer\/account\/login\/referer\/aHR0cHM6Ly9tMi5hbG90aGVtZXMuY29tL2VsZWN0cm8yL2RlZmF1bHQv\/", "isRedirectRequired": false, "autocomplete": "off", "captcha": { "user_login": { "isCaseSensitive": false, "imageHeight": 50, "imageSrc": "", "refreshUrl": "https:\/\/m2.alothemes.com\/electro2\/default\/captcha\/refresh\/", "isRequired": false, "timestamp": 1726789696 } } };</script> </div></div></div></div></div>
@* <li class="u-has-submenu u-header-collapse__submenu">
    <a class="u-header-collapse__nav-link u-header-collapse__nav-pointer" href="javascript:;" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="headerSidebarHomeCollapse" data-target="#headerSidebarHomeCollapse">
        @language.GetKey("Səhifələr")
    </a>

    <div id="headerSidebarHomeCollapse" class="collapse" data-parent="#headerSidebarList">
        <ul id="headerSidebarHomeCollapse" class="u-header-collapse__nav-list">
            <!-- Shop Grid -->
            <li><a class="u-header-collapse__submenu-nav-link" href="https://transvelo.github.io/electro-html/2.0/html/shop/shop-grid.html">@language.GetKey("Məhsullar")</a></li>
            <!-- End Shop Grid -->
            <!-- Shop Grid Extended -->
            <li><a class="u-header-collapse__submenu-nav-link" href="https://transvelo.github.io/electro-html/2.0/html/shop/shop-grid-extended.html">@language.GetKey("Bizimlə əlaqə")</a></li>
            <!-- End Shop Grid Extended -->
            <!-- Shop List View -->
            <li><a class="u-header-collapse__submenu-nav-link" href="https://transvelo.github.io/electro-html/2.0/html/shop/shop-list-view.html">@language.GetKey("Tez-tez verilən suallar")</a></li>
            <!-- End Shop List View -->
            <!-- Shop List View Small -->
            <li><a class="u-header-collapse__submenu-nav-link">@language.GetKey("Karyera və Yüksəliş")</a></li>
            <!-- End Shop List View Small -->
            <!-- Shop Left Sidebar -->
            <li><a class="u-header-collapse__submenu-nav-link" asp-controller="CareerAndCv" asp-action="Index">@language.GetKey("İşə qəbul prosesi")</a></li>
            <!-- End Shop Left Sidebar -->
            <!-- Shop Full width -->
            <li><a class="u-header-collapse__submenu-nav-link" href="https://transvelo.github.io/electro-html/2.0/html/shop/shop-full-width.html">Shop Full width</a></li>
            <!-- End Shop Full width -->
            <!-- Shop Right Sidebar -->
            <li><a class="u-header-collapse__submenu-nav-link" href="https://transvelo.github.io/electro-html/2.0/html/shop/shop-right-sidebar.html">Shop Right Sidebar</a></li>
            <!-- End Shop Right Sidebar -->
        </ul>
    </div>

</li>

<li class="u-has-submenu u-header-collapse__submenu">
    <a class="u-header-collapse__nav-link u-header-collapse__nav-pointer" href="javascript:;" data-target="#headerSidebarPagesCollapse" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="headerSidebarPagesCollapse">
        @language.GetKey("Məhsullar")
    </a>


</li>
<!-- End Shop Pages -->
<!-- Product Categories -->
<li class="u-has-submenu u-header-collapse__submenu">
    <a class="u-header-collapse__nav-link u-header-collapse__nav-pointer" href="javascript:;" data-target="#headerSidebarBlogCollapse" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="headerSidebarBlogCollapse">
        Product Categories
    </a>

    <div id="headerSidebarBlogCollapse" class="collapse" data-parent="#headerSidebarContent">
        <ul id="headerSidebarBlogMenu" class="u-header-collapse__nav-list">
            <!-- 4 Column Sidebar -->
            <li><a class="u-header-collapse__submenu-nav-link" href="https://transvelo.github.io/electro-html/2.0/html/shop/product-categories-4-column-sidebar.html">4 Column Sidebar</a></li>
            <!-- End 4 Column Sidebar -->
            <!-- 5 Column Sidebar -->
            <li><a class="u-header-collapse__submenu-nav-link" href="https://transvelo.github.io/electro-html/2.0/html/shop/product-categories-5-column-sidebar.html">5 Column Sidebar</a></li>
            <!-- End 5 Column Sidebar -->
            <!-- 6 Column Full width -->
            <li><a class="u-header-collapse__submenu-nav-link" href="https://transvelo.github.io/electro-html/2.0/html/shop/product-categories-6-column-full-width.html">6 Column Full width</a></li>
            <!-- End 6 Column Full width -->
            <!-- 7 Column Full width -->
            <li><a class="u-header-collapse__submenu-nav-link" href="https://transvelo.github.io/electro-html/2.0/html/shop/product-categories-7-column-full-width.html">7 Column Full width</a></li>
            <!-- End 7 Column Full width -->
        </ul>
    </div>
</li>
<!-- End Product Categories -->
<!-- Single Product Pages -->
<li class="u-has-submenu u-header-collapse__submenu">
    <a class="u-header-collapse__nav-link u-header-collapse__nav-pointer" href="javascript:;" data-target="#languageCollapse" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="headerSidebarShopCollapse">
        @language.GetKey("Dil")
    </a>

    <div id="languageCollapse" class="collapse" data-parent="#headerSidebarContent">
        <ul id="headerSidebarShopMenu" class="u-header-collapse__nav-list">
            <!-- Single Product Extended -->
            <li>
                <a class="u-header-collapse__submenu-nav-link" asp-controller="Home" asp-action="ChangeLanguage" asp-route-culture="az-AZ">
                    <img style="width: 25px; height: 25px;" src="~/ui/assets/flags/azerbaijan.png" />
                    Az
                </a>
            </li>
            <!-- End Single Product Extended -->
            <!-- Single Product Fullwidth -->
            <li>
                <a class="u-header-collapse__submenu-nav-link" asp-controller="Home" asp-action="ChangeLanguage" asp-route-culture="en-US">
                    <img style="width: 25px; height: 25px;" src="~/ui/assets/flags/united-kingdom.png" /> En
                </a>
            </li>
            <!-- End Single Product Fullwidth -->
            <!-- Single Product Sidebar -->
            <li>
                <a class="u-header-collapse__submenu-nav-link" asp-controller="Home" asp-action="ChangeLanguage" asp-route-culture="ru-RU">

                    <img style="width: 25px; height: 25px;" src="~/ui/assets/flags/russia.png" /> Ru
                </a>
            </li>
            <!-- End Single Product Sidebar -->
        </ul>
    </div>
</li>
<!-- End Single Product Pages -->
<!-- Ecommerce Pages -->
<li class="u-has-submenu u-header-collapse__submenu">
    <a class="u-header-collapse__nav-link u-header-collapse__nav-pointer" href="javascript:;" data-target="#headerSidebarDemosCollapse" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="headerSidebarDemosCollapse">
        @language.GetKey("Digər səhifələr")
    </a>

    <div id="headerSidebarDemosCollapse" class="collapse" data-parent="#headerSidebarContent">
        <ul id="headerSidebarDemosMenu" class="u-header-collapse__nav-list">
            <!-- Shop -->
            <li><a class="u-header-collapse__submenu-nav-link" href="https://transvelo.github.io/electro-html/2.0/html/shop/shop.html">Shop</a></li>
            <!-- End Shop -->
            <!-- Cart -->
            <li><a class="u-header-collapse__submenu-nav-link" href="https://transvelo.github.io/electro-html/2.0/html/shop/cart.html">Cart</a></li>
            <!-- End Cart -->
            <!-- Checkout -->
            <li><a class="u-header-collapse__submenu-nav-link" href="https://transvelo.github.io/electro-html/2.0/html/shop/checkout.html">Checkout</a></li>
            <!-- End Checkout -->
            <!-- My Account -->
            <li><a class="u-header-collapse__submenu-nav-link" href="https://transvelo.github.io/electro-html/2.0/html/shop/my-account.html">My Account</a></li>
            <!-- End My Account -->
            <!-- Track your Order -->
            <li><a class="u-header-collapse__submenu-nav-link" href="https://transvelo.github.io/electro-html/2.0/html/shop/track-your-order.html">Track your Order</a></li>
            <!-- End Track your Order -->
            <!-- Compare -->
            <li><a class="u-header-collapse__submenu-nav-link" href="https://transvelo.github.io/electro-html/2.0/html/shop/compare.html">Compare</a></li>
            <!-- End Compare -->
            <!-- wishlist -->
            <li><a class="u-header-collapse__submenu-nav-link" href="https://transvelo.github.io/electro-html/2.0/html/shop/wishlist.html">wishlist</a></li>
            <!-- End wishlist -->
        </ul>
    </div>
</li>
<!-- End Ecommerce Pages -->
<!-- Shop Columns -->
<li class="u-has-submenu u-header-collapse__submenu">
    <a class="u-header-collapse__nav-link u-header-collapse__nav-pointer" href="javascript:;" data-target="#headerSidebardocsCollapse" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="headerSidebardocsCollapse">
        Shop Columns
    </a>

    <div id="headerSidebardocsCollapse" class="collapse" data-parent="#headerSidebarContent">
        <ul id="headerSidebardocsMenu" class="u-header-collapse__nav-list">
            <!-- 7 Column Full width -->
            <li><a class="u-header-collapse__submenu-nav-link" href="https://transvelo.github.io/electro-html/2.0/html/shop/shop-7-columns-full-width.html">7 Column Full width</a></li>
            <!-- End 7 Column Full width -->
            <!-- 6 Column Full width -->
            <li><a class="u-header-collapse__submenu-nav-link" href="https://transvelo.github.io/electro-html/2.0/html/shop/shop-6-columns-full-width.html">6 Column Full width</a></li>
            <!-- End 6 Column Full width -->
            <!-- 5 Column Sidebar -->
            <li><a class="u-header-collapse__submenu-nav-link" href="https://transvelo.github.io/electro-html/2.0/html/shop/shop-5-columns-sidebar.html">5 Column Sidebar</a></li>
            <!-- End 5 Column Sidebar -->
            <!-- 4 Column Sidebar -->
            <li><a class="u-header-collapse__submenu-nav-link" href="https://transvelo.github.io/electro-html/2.0/html/shop/shop-4-columns-sidebar.html">4 Column Sidebar</a></li>
            <!-- End 4 Column Sidebar -->
            <!-- 3 Column Sidebar -->
            <li><a class="u-header-collapse__submenu-nav-link" href="https://transvelo.github.io/electro-html/2.0/html/shop/shop-3-columns-sidebar.html">3 Column Sidebar</a></li>
            <!-- End 3 Column Sidebar -->
        </ul>
    </div>
</li>
<!-- End Shop Columns -->
<!-- Blog Pages -->
<li class="u-has-submenu u-header-collapse__submenu">
    <a class="u-header-collapse__nav-link u-header-collapse__nav-pointer" href="javascript:;" data-target="#headerSidebarblogsCollapse" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="headerSidebarblogsCollapse">
        Blog Pages
    </a>

    <div id="headerSidebarblogsCollapse" class="collapse" data-parent="#headerSidebarContent">
        <ul id="headerSidebarblogsMenu" class="u-header-collapse__nav-list">
            <!-- Blog v1 -->
            <li><a class="u-header-collapse__submenu-nav-link" href="https://transvelo.github.io/electro-html/2.0/html/blog/blog-v1.html">Blog v1</a></li>
            <!-- End Blog v1 -->
            <!-- Blog v2 -->
            <li><a class="u-header-collapse__submenu-nav-link" href="https://transvelo.github.io/electro-html/2.0/html/blog/blog-v2.html">Blog v2</a></li>
            <!-- End Blog v2 -->
            <!-- Blog v3 -->
            <li><a class="u-header-collapse__submenu-nav-link" href="https://transvelo.github.io/electro-html/2.0/html/blog/blog-v3.html">Blog v3</a></li>
            <!-- End Blog v3 -->
            <!-- Blog Full Width -->
            <li><a class="u-header-collapse__submenu-nav-link" href="https://transvelo.github.io/electro-html/2.0/html/blog/blog-full-width.html">Blog Full Width</a></li>
            <!-- End Blog Full Width -->
            <!-- Single Blog Post -->
            <li><a class="u-header-collapse__submenu-nav-link" href="https://transvelo.github.io/electro-html/2.0/html/blog/single-blog-post.html">Single Blog Post</a></li>
            <!-- End Single Blog Post -->
        </ul>
    </div>
</li>
<!-- End Blog Pages -->
 *@