@model IEnumerable<MarkListDTO>
@{
    ViewData["Title"] = "MarkList";
    Layout = "~/Areas/GoldManagementPanel/Views/Shared/_GoldManagementLayout.cshtml";
    int num = 0;
}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="page-title-box">

                    <h4 class="page-title"> Aktiv Markalar</h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">

                        <div class="tab-content">
                            <div class="tab-pane show active" id="basic-datatable-preview">
                                <table id="basic-datatable" class="table table-striped dt-responsive nowrap w-100">
                                    <thead>
                                        <tr>
                                            <th>No</th>
                                            <th>Marka</th>
                                            <th>Məhsul sayı</th>
                                            <th>Status</th>
                                            <th>Əməliyyatlar</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>@(num = num + 1)</td>
                                                <td>@item.Name</td>
                                                <td>@item.ProductCount</td>
                                                <td>
                                                    @if (item.Status)
                                                    {
                                                        <span style="color:forestgreen;font:bold">Aktiv</span>
                                                    }
                                                    else
                                                    {
                                                        <span style="color:red;font:bold">Deaktiv</span>
                                                    }
                                                </td>
                                                <td>
                                                    <a asp-controller="Product" asp-action="ProductListByMarks" asp-route-marksId="@item.Id" class="btn btn-primary ">Məhsullar</a>
                                                    <a asp-action="UpdateMark" asp-route-marksId="@item.Id" class="btn btn-warning ">Yenilə</a>
                                                    @*   <a asp-action="DeleteMark" asp-route-Id="@item.Id" class="btn btn-danger ">Sil</a> *@
                                                </td>

                                            </tr>

                                        }


                                    </tbody>
                                </table>
                            </div> <!-- end preview-->


                        </div> <!-- end tab-content-->

                    </div> <!-- end card body-->
                </div> <!-- end card -->
            </div><!-- end col-->
        </div> <!-- end row-->
    </div>

</div>

